/* TABLE OF CONTENTS */
/* ------------------
1. General
2. Navbar
3. Banner
4. About
5. Services
6. Portfolio
7. Blog
8. Contact
9. Footer
-------------------- */

/* 1 General */
/* @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Play&family=Rowdies:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Background Color */
  --bg-color: #ffffff;
  --primary-color: #3cd77a;
  --secondary-color: #2edfdb;
  --bg-header: rgba(255, 255, 255, 0.736);
  --border-color: #eee;
  --bg-theme: #000000;
  --shadow: rgba(201, 185, 252, 0.15);

  /* Text Color */
  --primary-text: #3cd77a;
  --secondary-text: #2edfdb;
  --text-color: #333333;

  /* Font Family */
  --primary-font: "Rowdies", sans-serif;
  --secondary-font: "Play", sans-serif;
}

/* Dark Theme */
body.dark-theme {
  /* Background Color */
  --bg-color: #000000;
  --primary-color: #3cd77a;
  --secondary-color: #2edfdb;
  --bg-header: rgba(0, 0, 0, 0.736);
  --border-color: #888;
  --bg-theme: #ffffff;
  --shadow: rgb(255, 255, 255, 0.15);

  /* Text Color */
  --primary-text: #3cd77a;
  --secondary-text: #2edfdb;
  --text-color: #fff3cd;

  /* Font Family */
  --primary-font: "Rowdies", sans-serif;
  --secondary-font: "Play", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  font-family: var(--secondary-font);
  width: 100%;
  background-image: url("images/body-bg.png.webp");
  background-repeat: no-repeat;
}

/* Add more styles based on the variable values */

/* ! 1 general css */
::-webkit-scrollbar {
  width: 0.26rem;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-gray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

section {
  margin: 4rem 0;
  /* height: 100dvh; */
}

.main-btn {
  display: inline-block;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 2.875rem;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  -webkit-box-shadow: 0 0.625rem 1.875rem rgb(118 85 225 / 30%);
  box-shadow: 0 0.625rem 1.875rem rgb(118 85 225 / 30%);
  border: double 0.125rem transparent;
  padding: 0 2.625rem;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  --webkit-transition: all 0.3s ease-in-out;
}

.primary-btn {
  background-image: var(--gradient);
  color: var(--text-white);
}

.primary-btn:hover {
  background: var(--bg-white);
  color: var(--secondary-text);
  border-color: var(--secondary-color);
  /* box-shadow: none; */
}

.secondary-btn {
  background-image: var(--bg-white);
  color: var(--secondary-text);
  border-color: var(--secondary-color);
}

.secondary-btn:hover {
  background: var(--gradient);
  color: var(--text-white);
  -webkit-box-shadow: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4.375rem;
  line-height: 3.75rem;
  font-weight: 700;
  /* color: var(--text-black); */
  color: var(--secondary-text);
  margin-bottom: 1.15rem;
  font-family: var(--primary-font);
}

h2 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3.4375rem;

  color: var(--text-color);
  font-family: var(--primary-font);
}

h3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.125rem;
  margin-bottom: 0.9375rem;
  color: var(--text-color);
  font-family: var(--primary-font);
  text-transform: uppercase;
}

h5 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 2.1875rem;
  color: var(--text-color);
}
.span-text {
  color: var(--secondary-color);
  letter-spacing: 2px;
  font-family: Londrina Sketch, sans-serif;
}

/* ! 2  Navbar  */
.nav-wrap .navbar {
  /* padding: 1rem; */
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  --webkit-transition: all 0.2s linear;
}

.nav-wrap .navbar-brand img {
  max-width: 13rem;
  height: auto;
}

.nav-wrap .navbar-toggler {
  color: var(--secondary-color);
}

.nav-wrap .navbar-toggler:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav-wrap .navbar-nav .nav-link,
.nav-wrap .navbar-nav .dropdown-menu .dropdown-item {
  font-size: 1.125rem;
  font-family: var(--primary-font);
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-color);
  display: inline-block;
}

.dropdown-menu {
  background-color: var(--bg-color);
}
.nav-wrap .navbar-nav .dropdown-menu .dropdown-item {
  font-size: 0.95rem;
  font-weight: 500;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.nav-wrap .navbar-nav .dropdown-menu .dropdown-item:hover {
  color: var(--primary-text);
}

.nav-wrap .navbar-nav .nav-link.active,
.nav-wrap .navbar-nav .nav-link:hover {
  color: var(--secondary-text);
}

.header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*todo adding glass morphism heere */
  /* background-color: rgba(255, 255, 255, 0.658); */
  background-color: var(--bg-header);
  -webkit-box-shadow: 0 0.25rem 0.375rem 0 rgba(12, 0, 46, 0.05);
  box-shadow: 0 0.25rem 0.375rem 0 rgba(12, 0, 46, 0.05);
}

/* !3 banner  */
.banner-wrap {
  position: relative;
  z-index: 100;
  background-image: url("images/home-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.banner-wrap .banner-conntent {
  vertical-align: middle;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

/*! 4 About  */
.logo-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

.about-wrap .single-logo {
  width: 100%;
  height: 7rem;
  cursor: pointer;
  border: 0.06rem solid var(--border-color);
  transition: all 0.4s ease 0s;
}

.single-logo img {
  padding: 10px 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.about-wrap .single-logo:hover {
  /* border: 0.06rem solid transparent; */
  box-shadow: 0 0.5rem 1.87rem var(--shadow);
  filter: drop-shadow(0 0.5rem 1.87rem var(--shadow));
}

/* ! contact  */
.form-control:focus {
  /* this is bootstrap class  */
  box-shadow: none;
}

.contact-wrap {
  padding: 50px 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.contact-wrap .newsletter {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.contact-wrap .form-start {
  border-radius: 0.5rem;
  -webkit-box-shadow: 6px 13px 6px 3px rgb(0 4 46 / 82%);
  box-shadow: 6px 13px 6px 3px rgb(0 4 46 / 82%);
  background-color: rgba(0, 0, 0, 0.245);
  color: white;
  font-weight: bold;
  text-align: center;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  padding: 20px;
}

.contact-wrap .contact-card {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.contact-wrap .formc input {
  background: transparent;
  line-height: 1rem;
  border: none;
  border-bottom: 1px solid #0dcaf0;
  color: white;
  transition: all 0.3s ease;
}

.contact-wrap .formc input:hover {
  border-radius: 30px;
  border: 1px solid #0dcaf0;
}

.contact-wrap .formc input::-webkit-input-placeholder {
  /* color: var(--bg-white); */
  color: white;
}

.contact-wrap .formc input::-moz-placeholder {
  /* color: var(--bg-white); */
  color: white;
}

.contact-wrap .formc input:-ms-input-placeholder {
  /* color: var(--bg-white); */
  color: white;
}

.contact-wrap .formc input::-ms-input-placeholder {
  /* color: var(--bg-white); */
  color: white;
}

.contact-wrap .formc input::placeholder {
  /* color: var(--bg-white); */
  color: white;
}

/*! foooter section  */
.footer-wrap {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.footer-wrap img {
  max-width: 10rem;
  height: auto;
}

.footer-wrap .footer-links a {
  color: var(--text-color) !important;
}

/*! Protfolio section  */
.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
}

/* Carousul */
.card {
  min-height: 400px;
  border-radius: 0.5rem;
  border: 0.06rem solid var(--border-color);
  color: var(--text-color);
  background-color: var(--bg-color);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 6px 7px 12px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 6px 7px 12px 0px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.image-content,
.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  background-color: transparent;
}

.image-content img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  /* aspect-ratio: 3/2; */
  border-radius: 0.5rem;
  -webkit-box-shadow: 6px 7px 12px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 6px 7px 12px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.image-content img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.swiper-navBtn {
  color: var(--secondary-color);
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #4070f4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}

/*  ! buttons */
.bn632-hover {
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 45px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn20 {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3cd77a),
    color-stop(#2edfdb),
    color-stop(#3cd77a),
    to(#2edfdb)
  );
  background-image: -o-linear-gradient(
    left,
    #3cd77a,
    #2edfdb,
    #3cd77a,
    #2edfdb
  );
  background-image: linear-gradient(
    to right,
    #3cd77a,
    #2edfdb,
    #3cd77a,
    #2edfdb
  );
  -webkit-box-shadow: 0 4px 15px 0 rgba(60, 215, 122, 0.75);
  box-shadow: 0 4px 15px 0 rgba(60, 215, 122, 0.75);
}

/* ! another buton  */
.bn54 {
  position: relative;
  text-decoration: none;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 130px;
  opacity: 1;
  background-color: #ffffff;
}

.bn54 .bn54span {
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.bn54:hover {
  -webkit-animation: bn54rotate 0.7s ease-in-out both;
  animation: bn54rotate 0.7s ease-in-out both;
}

.bn54:hover .bn54span {
  -webkit-animation: bn54storm 0.7s ease-in-out both;
  animation: bn54storm 0.7s ease-in-out both;
  -webkit-animation-delay: 0.06s;
  animation-delay: 0.06s;
}

@-webkit-keyframes bn54rotate {
  0% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    -webkit-transform: rotate(3deg) translate3d(0, 0, 0);
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: rotate(-3deg) translate3d(0, 0, 0);
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    -webkit-transform: rotate(1deg) translate3d(0, 0, 0);
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bn54rotate {
  0% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    -webkit-transform: rotate(3deg) translate3d(0, 0, 0);
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: rotate(-3deg) translate3d(0, 0, 0);
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    -webkit-transform: rotate(1deg) translate3d(0, 0, 0);
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bn54storm {
  0% {
    -webkit-transform: translate3d(0, 0, 0) translateZ(0);
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    -webkit-transform: translate3d(4px, 0, 0) translateZ(0);
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    -webkit-transform: translate3d(-3px, 0, 0) translateZ(0);
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    -webkit-transform: translate3d(2px, 0, 0) translateZ(0);
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0) translateZ(0);
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

@keyframes bn54storm {
  0% {
    -webkit-transform: translate3d(0, 0, 0) translateZ(0);
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    -webkit-transform: translate3d(4px, 0, 0) translateZ(0);
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    -webkit-transform: translate3d(-3px, 0, 0) translateZ(0);
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    -webkit-transform: translate3d(2px, 0, 0) translateZ(0);
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0) translateZ(0);
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

/* footer links button  */
.footer-wrap .footer-links a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-wrap .footer-links a:hover {
  background-image: var(--gradient);
  border-radius: 0.5rem;
  padding: 0.3rem;
}

/* buttons end  */

/* typing effect  */
#sentence {
  font-size: 24px;
  margin-top: 50px;
  text-align: center;
  position: relative;
  display: inline-block;
}

#text {
  color: var(--secondary-text);
  font-weight: bolder;
}

#cursor {
  display: inline-block;
  width: 2px;
  height: 24px;
  background-color: var(--secondary-text);
  animation: blink 0.5s infinite alternate;
  position: absolute;
  top: 0;
  right: -4px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/* dark and light theme */
.themeBtn {
  position: fixed;
  display: grid;
  place-items: center;
  bottom: 50px;
  right: 20px;
  background-color: var(--bg-theme);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: grab;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: var(--secondary-color);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

/* after all css is done i use autoprefixer to add all browser support my code was 509 line now 747 after add  */
